<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AlphaZero Univalle</title>
  <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/uikit.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>

<body>
  <div class="uk-flex uk-flex-center uk-margin-medium-top">
    <main class="uk-padding uk-padding-remove-top">
      <h1 class="align-center">AlphaZero Univalle</h1>
      <div class="uk-card uk-card-default uk-card-body padding-left">
        <div>
          <label class="uk-form-label" for="form-stacked-text">Select the amount of apples:</label>
          <div class="uk-form-controls uk-flex">
            <select class="uk-select" id="apples">
              <option value="1">1</option>
              <option value="3">3</option>
              <option value="5">5</option>
            </select>
            <button id="play" name="solve" class="margin-left uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
              Play
            </button>
          </div>
        </div>
        <table id="board" class="board"></table>
      </div>
    </main>
  </div>
  <div class="modal">
  </div>

  <script src="{{ url_for('static', filename = 'js/jquery-1.8.3.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/game/game.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/game/main.js') }}"></script>
</body>

</html>
