<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AlphaZero Univalle</title>
  <link rel="icon" href="{{ url_for('static', filename = 'img/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/uikit.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
</head>

<body>
  <div class="uk-flex uk-flex-center uk-margin-small-top">
    <main class="uk-padding uk-padding-remove-top">
      <h1 class="align-center uk-margin-remove-bottom">AlphaZero Univalle</h1>
      <div class="uk-card uk-card-default uk-card-body padding-left">
        <div>
          <label class="uk-form-label" for="form-stacked-text">Select the amount of apples:</label>
          <div class="uk-form-controls uk-flex">
            <select class="uk-select" id="apples">
              <option value="1">1</option>
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="9">9</option>
              <option value="11">11</option>
              <option value="13">13</option>
              <option value="15">15</option>
              <!-- <option value="17">17</option>
              <option value="19">19</option>
              <option value="21">21</option>
              <option value="23">23</option>
              <option value="25">25</option> -->
            </select>
            <button id="play" name="solve" class="margin-left uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
              Play
            </button>
          </div>
        </div>

        <table id="board" class="board"></table>

        <div class="uk-flex uk-flex-between">
          <div class="uk-flex-middle">
            <img class="badge-img" src="{{ url_for('static', filename = 'img/wN.png') }}" alt="wN"> White Horse:
            <span id="scoreWN" class="uk-badge">0</span>
          </div>
          <div class="uk-flex-middle">
            <img class="badge-img" src="{{ url_for('static', filename = 'img/bN.png') }}" alt="bN"> Black Horse:
            <span id="scoreBN" class="uk-badge">0</span>
          </div>
        </div>

        <div class="uk-padding uk-padding-remove-horizontal uk-padding-remove-bottom">
          <form id="uploadForm">
            <div uk-form-custom class="div-large" id="fileInput">
              <input type="file" name="file" accept=".txt" id="file">
              <button class="uk-button uk-button-default uk-width-1-1 uk-margin-small-bottom" type="button" tabindex="-1" id="btnFile">Load State</button>
            </div>
            <input type="submit" value="Upload" id="upload" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
          </form>
          <div class="uk-flex uk-flex-between">
            <a href="" id="download">Download State</a>
            <label>
              <input class="uk-checkbox" type="checkbox" id="theft"> Enable theft
            </label>
          </div>
        </div>
      </div>
    </main>
  </div>

  <!-- This is the modal -->
  <div id="winner" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
      <div class="uk-modal-header uk-text-center">
        <h2 id="winner-title" class="uk-modal-title"></h2>
      </div>
      <div class="uk-modal-body uk-text-center">
        <p id="winner-body">
          ¿Cuál es el truco mágico que nos hace inteligentes? El truco es que no hay truco. El poder de la inteligencia emana de nuestra
          vasta diversidad, no de un único y perfecto principio"
        </p>
        <p>Marvin Minsky</p>
      </div>
      <div class="uk-modal-footer uk-text-right">
        <button id="again" class="uk-button uk-button-primary uk-modal-close" type="button">
          Play Again!
        </button>
      </div>
    </div>
  </div>


  <script src="{{ url_for('static', filename = 'js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/game/game.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>

</html>