<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AlphaZero Univalle</title>
  <!-- <link rel="icon" href="{{ url_for('static', filename = 'assets/images/favicon.ico') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/uikit.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/chessboard-0.3.0.css') }}">
</head>

<body>
  <div class="uk-flex uk-flex-center uk-margin-medium-top">
    <main class="uk-padding uk-padding-remove-top">
      <h1 class="align-center">AlphaZero Univalle</h1>
      <div class="uk-card uk-card-default uk-card-body">
        <div id="board" class="board" style="width: 400px"></div>
      </div>
      <footer>
        <p>Created by
          <a href="https://github.com/dejuata" target="_blank">Juan David Pino</a>
        </p>
      </footer>
    </main>
  </div>
  <div class="modal">
  </div>

  <script src="{{ url_for('static', filename = 'js/jquery-1.8.3.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/chessboard-0.3.0.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/game/main.js') }}"></script>

</body>

</html>
